{% extends "base.html" %}
<title>{% block title %}Groups{% endblock %}</title>
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>
            <td>
                <a class="text-primary ps-2" href="{% url 'edit_group' group.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                {% if not group.can_delete %}

                {% else %}
                    <a style="color: red" class="ps-2" href="{% url 'delete_group' group.id %}"><i class="fa-regular fa-trash-can"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'add_group' %}">Add Group</a>
{% endblock %}